{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.description |truncatewords:155}}
    {% else %}
        WELCOME TO CHEROKE.INC WHERE YOU CAN BUY A VARIETY OF ITEMS
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{category.name}} -- CHEROKE INC
    {% else %}
        SEE OUR LATEST ARRIVALS
    {% endif %}
{% endblock %}

{% block body %}

<!--TO ADD BACKGROUND IMAGE-->
<!--<style>-->
<!--    body{-->
<!--    background-image:url("{% static 'img/background.jpeg' %}");-->
<!--    background-size: cover;-->
<!--    background-position: center center;-->
<!--</style>-->

{% if category %}
    <div>
        <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'shop:allProdCat' %}">OUR PRODUCTS</a></p>
            </div>
        </div>
    </div>
{% endif %}
<div class="mx-auto">
    {% if category %}
        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>
    <div>
        <h1 class="text-center my_title">{{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
    </div>
    {% else %}
             <div class="container">
                 <div class="col-md-12">
                    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="OUR PRODUCTS" width="100%;">
                </div>
            </div>
<br>
    <div>
        <h1 class="text-center my_title">OUR PRODUCT COLLECTIONS</h1>
        <p class="text-justify">Hi its our pleasure. Nice to meet you. Enjoy your shopping.</p>
    </div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for i in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4">
                <div class="card text-center d-flex" style="min-width: 15rem;">
    <a href="{{ i.get_url }}" style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <img class="card-img-top my_image" src="{{ i.image.url }}" alt="{{ i.name }}" style="max-width: 100%; max-height: 100%; object-fit: contain;">
    </a>
    <div class="card-body d-flex flex-column justify-content-between" style="height: 150px;">
        <h4>{{ i.name }}</h4>
        <p>{{ i.price }}</p>
    </div>
</div>


            </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
            <div class="text-center">
                {% for z in products.paginator.page_range %}
                    <a href="?page={{z}}" class="btn btn-light btn-sm    {% if products.number == z %} active {% endif %}">{{z}}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}